# Ignore node_modules directory
node_modules/

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore local MongoDB database files
/data/db/

# Ignore any .DS_Store files (macOS)
.DS_Store

# Ignore any coverage directory (used by testing frameworks)
coverage/

# Ignore compiled TypeScript files
*.tsbuildinfo

# Ignore the build directory
build/

# Ignore IDE specific files
.idea/
.vscode/

# Ignore optional lock files
package-lock.json
yarn.lock

# Ignore miscellaneous
*.log
*.tmp
*.swp
